$bg_color: #f3f3f3;
$main_Text_color: #222;
$bg_colorII: #4b312f;
$main_Backg: #ddd;
$darkBg_colorII: #3f2b2a;
$secondary_txt_color: #A7A7A7;
$light_txt_color: #fff;

@mixin container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

@mixin  md-3 {
    width: 25%;
    height: 100vh;
}

@mixin  md-4 {
    width: 33.33333333333333%;
    height: 100vh;
}

@mixin  md-6 {
    width: 50%;
}

@mixin md-8 {
    width: 66.66666666666667%;
    height: 100vh;
}

@mixin md-9 {
    width: 75%;
    height: 100vh;
}

@mixin md-12 {
    width: 100vw;
    height: 100vh;
}

@mixin  totalFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin  miniFlex {
    display: flex;
    align-items: center;
}

@mixin  lrPad30 {
    padding-left: 30px;
    padding-right: 30px;
}

@mixin  padTop30 {
    padding-top: 30px;
}

@mixin  bMargin20 {
    margin-bottom: 20px;
}

@mixin  bMargin10 {
    margin-bottom: 10px;
}

@mixin  rMargin20 {
    margin-right: 20px;
}

@mixin  tbPad {
    padding-top: 5px;
    padding-bottom: 5px;
}

@mixin  tsPad {
    padding: 10px 15px;
}

@mixin  tbPad50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

@mixin btnDesign {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "SourceRegular";
    padding: 10px 15px;
    border-radius: 4px;
    color: $light_txt_color;
    text-transform: uppercase;
}

@mixin centralize {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}